@import "../../../styles/colors.scss";

$component: ".task-info";

#{$component} {
  display: flex;
  gap: 8px;
  align-items: center;

 &__label {
  font-size: 14px;
  font-weight: bold;
  color: $blue;

  &.both {
    color: $purple
  }
 }

 &__count {
  color: #fff;
  padding: .125rem .5rem;
  border-radius: .75rem;
  font-size: 12px;
  font-weight: bold;
  background: $gray-400;
 }
}
